extends ../layout

block content
  .container
    h1.page-header My Hosting List
    
    //- | total #{pagination.numPosts} posts
    table.table.table-bordered
      thead
        tr
          th 도시
          th 제목
          th 주소
          th 가격
          th 편의시설
      tbody
        each room in rooms
          tr
            td= room.city
            td
              a(href='/rooms/#{room.id}')= room.title
            //- td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= room.address
            td= room.price
            td= room.facility
            td
              a.btn.btn-xs.btn-default(href='/rooms/#{room.id}/edit') 수정
              | 
              a.btn.btn-xs.btn-default(data-id=room.id, class='delete') 삭제
 

            //-   a.btn.btn-xs.btn-default(href='/posts/#{post.id}/edit') 수락
            //-   | 
            //-   a.btn.btn-xs.btn-default(data-id=post.id, class='delete') 거절