extends ../layout

block content
  .container
    h1.page-header= room.title
    p
      b by #{room.city}
      | 
      b by #{room.address}
      | 
      b by #{room.price}
      | 
      b by #{room.facility}
      | 
      b by #{room.rule}
    p.well(style='white-space:pre;')= room.content
    
    a.btn.btn-default(href='/rooms') 목록
    a.btn.btn-default(href='/rooms/reserves/#{room.id}') 예약
